:root {
  --meli-color: #ffe600;
}

.meli-header {
  background-color: var(--meli-color) !important;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex: 1;
}
.meli-footer {
  background-color: #f8f9fa;
  padding: 1rem;
}

.card-produto {
  transition: box-shadow 0.3s ease;
}

.card-produto:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.thumbnail-wrapper img {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s, border 0.3s;
}
.thumbnail-wrapper.active img,
.thumbnail-wrapper:hover img {
  opacity: 1;
  border: 2px solid #0d6efd;
}